@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@400;500;600&display=swap');

:root {
    --heading-font: 'Playfair Display', serif; 
    --primary-color: #ff5031;
}
*{
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

body{
    margin: 0;
    color: #222;
    font-family:'Poppins', sans-serif;
}
.container {
    max-width: 1200px;
    padding: 24px;
    margin: 0 auto;
}
.hero-area {
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("./images/image-1.png");
    color: white;
   
}

.hero-area header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reservation {
    background-color: var(--primary-color);
    border: none;
    padding: 12px 24px;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    cursor: pointer;
}

.reservation i {
    margin-right: 8px;
}